.bg-white {
  background-color: var(--white-light);
}
.bg-white-clicked {
  background-color: #ffffff;
}
.bg-white-unclicked {
  background-color: #e4e4e4;
}
.bg-white-dark {
  background-color: var(--blue-shadow);
}

.content-1 {
  height: 74.8vh;
}
.content-2 {
  height: 49.1%;
}
/* 
textarea {
  overflow: auto;
  border-radius: 0px;
  resize: none;
}

@media (max-width: 768px) {
  textarea:first-of-type {
    height: 50px;
  }
  .form-remembered > .form-control,
  .form-floating > .form-control-plaintext {
    height: 57vh !important;
  }
  .form-forget > .form-control,
  .form-floating > .form-control-plaintext {
    height: 31vh !important;
  }
}

@media (min-width: 768px) {
  textarea:first-of-type {
    border: none;
    height: 50px;
  }
  .form-remembered > .form-control,
  .form-floating > .form-control-plaintext {
    height: 57vh !important;
  }
  .form-forget > .form-control,
  .form-floating > .form-control-plaintext {
    height: 31vh !important;
  }
} */
