.btn-search {
  background-color: var(--white-light);
  border: 1px solid var(--blue-light);
  border-radius: 7px;
}

.log > div {
  width: 100%;
  display: block;
  /* border: 1px solid var(--blue-light); */
}

.massage > div {
  background-color: var(--white-light);
}

.ai-massage > div {
  background-color: var(--white-light);
}

div > .search-box {
  box-shadow: 0px -30px 50px var(--blue-light);
}
