.login-container {
  height: 550px;
  width: 450px;
}

/* 
div > .login-container > button:hover {
  border-color: var(--blue);
  background-color: var(--blue);
}

.form-loginpage {
  width: 89%;
}
div > .login-container > .btn-sign-up {
  background-color: var(--white-dark);
}

div > .login-container > .btn-sign-up:hover {
  background-color: var(--white-light);
}

input[type="email"],
input[type="text"],
input[type="password"] {
  background: #ffffff;
  color: black;
  border: 2px solid #000000;
  border-radius: 9px;
  padding: 10px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: none;
  background: #e1eeff;
  color: black;
  margin: none;
}

.card-title {
  font-weight: 64px;
  padding-top: 5px;
  font-family: "Montserrat";
  color: #000000;
}
.card-title1 {
  font-weight: 64px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.btn {
  background-color: #c4ddff ;
  color: black !important;
  transform: translateY(10px);
  font-size: 14px;
  border-radius: 10px !important;
  border-color: black;
  height: 40px;
} */
