.todolist-container {
  background-color: var(--blue-light);
  width: 75vw;
  height: 80vh;
  padding: 20px;
  position: fixed;
  top: 5vh;
  border-style: solid;
  margin-top: 15px; 
}

.icon-plus-todolist:focus {
  border-color: var(--blue-light-2);
}

/* .new-task-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
} */

.icon-plus {
  position: absolute;
  right: 0;
  color: var(--blue);
}

.container > .task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.container > .task > div > input {
  width: 20px;
  height: 20px;
}

.container > .task > div > p {
  margin-top: -5px;
}

.selected {
  color: rgb(118, 150, 163);
}

.unselected {
  color: rgb(0, 0, 0);
}

svg {
  cursor: pointer;
}
svg > .bi-box-arrow-left:hover {
  color: gray;
}

.belakang-todolist {
  width: 75vw;
  height: 80vh;
  padding-left: 10px;
  margin-top: -70px;
  background: #c4ddff !important;
  border-radius: 10px !important;
  border: 3px solid black;
}

.bi-trash {
  min-width: 20px;
}
